* {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
	text-align: center;
}



#first-section {
	margin-top: 10%;
	background-color: #ECEFF1;
}

#menu {
	margin-bottom: 5%;
	margin-top: 50px;
	li {
		border-style: inline-block;
		list-style: none;
	}
}

#profile-picture {
	border-radius: 50%;
	max-width: 200px;
	text-align: center;
	border-color: #efefef 1px;
}

#profile-summary {

}

#projects {
	text-align: center;
}

#contact {
	ul {
		list-style: none;
	}
}
