* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	text-align: center;
	margin-bottom: 100px;
}

a:link {
	color: #ff6868;
}

a:visited {
	color: #ff6868;
}

a:hover {
	color: #ff6868;
	text-decoration: none !important;
}

#first-section {
	margin-top: 10%;
	margin-bottom: 10%;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ECEFF1;
}

#menu {
	margin-bottom: 5%;
	margin-top: 50px;
	font-size: 30px;
	list-style: none;
	border-style: inline-block;
	font-variant: small-caps;
}

.menu-between {
	color: white;
	font-size: 20px;
}

#profile-picture {
	border-radius: 50%;
	max-width: 250px;
	text-align: center;
	border-color: #efefef 1px;
}

#profile-title {
	font-family: 'Open Sans', sans-serif;
}

#profile-interesting-fact {
	font-size: 32px;
}

#profile-summary {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	font-weight: lighter;
}

#skills {
	vertical-align: top;
	padding-top: 30px;
	img:hover {
		opacity: 0.5;
	}
}

#projects {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 50px;
	list-style: none;
}

.project {
	p {
		font-size: 15px;
	}
	ul {
		li {
			text-decoration: none; 
			padding: 5px;
			list-style-type: none;
			display: inline-block;
		}
	}
}

@import 'modal';
@import 'font-style';

